---
import Section from "./ui/Section.astro";
import Heading from "./ui/Heading.astro";
import Button from "./ui/Button.astro";
import { getImage } from "astro:assets";
import ropeImage from "../assets/rope-border.png";

const optimizedRope = await getImage({ src: ropeImage });
---

<Section bg="light" pad={false}>
  <section class="flex items-center justify-center px-4 sm:px-8">
    <div class="relative w-full max-w-2xl flex items-center justify-center text-center min-h-60 sm:min-h-65 bg-no-repeat bg-center bg-contain md:bg-size-[100%_100%]" 
        style={`background-image: url(${optimizedRope.src});`} >
      <div class="z-10 flex flex-col items-center w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl px-4 sm:px-6 py-6 sm:py-8">
        <Heading class="mb-4 sm:mb-6">A Better Website Starts Here.</Heading>
        <a href="/contact">
          <Button variant="primary" 
                  class="text-sm px-4 py-2 sm:text-base sm:px-6 sm:py-3"
                  withArrow >
            Get Started Today
          </Button>
        </a>
      </div>
    </div>
  </section>
</Section>
